body {
  background: #d3e0ef;
  margin: 10px;
}

h3 {
  margin: 5px 0;
}

.singleMessage {
  background: #529cf1;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #275b97;
  width: 350px;
  margin: 10px 0;
}

.message {
  display: inline-block;
  width: 80%;
}

.likes-count,
.sendMessageButton,
.loginSubmit,
.logoutSubmit,
.userName,
.userPassword,
#message,
#username {
  display: inline-block;
  border: 2px solid #3a5269;
  border-radius: 7px;
}

.sendMessageButton,
.loginSubmit,
.logoutSubmit {
  padding: 5px 15px;
}

.userName,
.userPassword,
#message,
#username {
  width: 350px;
  padding: 5px;
  margin: 10px 0;
}

.userName,
.userPassword {
  width: 150px;
  padding: 5px;
  margin: 0 10px 0 0;
}

#message {
  min-height: 100px;
}

.loginMessage {
  font-size: 22px;
  font-weight: 600;
  color: #584ed8;
  margin: 15px 0;
}